<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud - Inicio de Sesion - Registro - PDF</title>
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'ver_cursos' %}">ver cursos</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'crear_cursos' %}">crear cursos</a>
            </li>
            <li>
                <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'inicio_sesion' %}">Inicio De sesión</a>
            </li>
            <li>
                <a href="{% url 'registro' %}">Registro</a>
            </li>
            {% endif %}


        </ul>
    </nav>

    {% block contenido %}
    {% endblock %}

</body>

</html>